<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome, <%=@user.name%>!</h1>    

  </body>
  <br>
  <body id="page-bottom">
    <label for="Log Out"><a href="/sessions/logout">Log Out</a></label>
    <a href="/users/:id/edit">Edit</a>
    <a href="/users/:id/delete">Delete</a>
  </body>
    <br>
  <body>
    <a href="/raves/create">Add a Rave</a>
</html>