<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>RaveSinatra</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <img src="/images/dancingcat.gif" height="300" width="900" alt="Responsive image">
    <link rel="stylesheet" href="/stylesheets/signup.css" />
 </head>
 <div>
  <h1>Hey Welcome Back!</h1>
    <form action="/users/login" method="POST">
       <label for="email">Email:</label>
        <input type="text" name="email"><br>
        <label for="password">Password:</label>
        <input type="password" name="password"><br>
        <input type="submit" value="Log In">
          <div class="top-left"><button type="button" class="btn btn-light btn-sm"><a href="/">Go Back</a></button></div><br>

    </form>
</div>
</html>