<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
<h3>Ready to be part of RaveSinatra?</h3>
<form action="/signup" method="POST">
    <label for="name">Name:</label>
	<input type="text" name="name"><br>
    <label for="email">Email:</label>
    <input type="text" name="email"><br>
    <label for="password">Password:</label>
	<input type="password" name="password"><br>
	<input type="submit" value="Sign Up">
    <%# <%binding.pry%>
</form>