<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RaveSinatra</title>
    <link rel="stylesheet" href="/stylesheets/welcome.css" />
  </head>
     <div>
     <img src="/images/lostlands.jpg"class="img-fluid" alt="Responsive image">
      <%# <div class="bottom-left">Bottom Left</div>
      <%# <div class="top-left">Top Left</div> %>

      <div class="top-right"><button type="button" class="btn btn-dark"><a href="/users/login">Log in</a></button></div><br>
      <div class="top-left"><button type="button" class="btn btn-dark"><a href="/users/signup">Sign Up</a></button></div><br>

      <%# <div class="bottom-right">Bottom Right</div> %>
      <%# <div class="centered"><h1>Welcome to Rave Sinatra!</h1></div> %>
      <div class="top-centered"><h1>Welcome to Rave Sinatra!</h1></div>
     </div>
</html>
